body {
  font-family: Arial, Helvetica, sans-serif;
}

input {
  padding: 2px;
  margin: 6px;
}

.page {
  padding: 6px;
  border: solid;
}

.heading {
  padding: 6px;
  margin: 6px;
  height: 10%;
}

.logo {
  border: dashed;
  width: 5%;
}

.form {
  padding: 6px;
  border: dashed;
  width: 50%;
}
